pip
numpy
pandas
scipy
scikit-learn==1.2
lightgbm==3.3.4
boto3
tqdm
more-itertools
plotly
matplotlib
tabulate
notebook
jupyter
ipynb-py-convert
kaggle
fastparquet
polars
pyarrow
dask
dask-ml
bokeh>=2.1.1
optuna
boruta
deepchecks
h5py
prophet
statsmodels
streamlit
papermill
